VITE_SUPABASE_URL=https://vlqqkvppbsuyfradgvqw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZscXFrdnBwYnN1eWZyYWRndnF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1Njc5ODQsImV4cCI6MjA5OTE0Mzk4NH0.XOi1ljZ5ZdsGxPJ-Os2vsBCwNRp_eYjtXAa6QCG-hYk
